// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import '~bulma/bulma.sass';
@import '~bulma-extensions/dist/css/bulma-extensions.min.css';
@import '~bulma-helpers/css/bulma-helpers.min.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~vue-loading-overlay/dist/vue-loading.css';
@import '~vue-toast-notification/dist/index.css';

@import "vue-select/src/scss/vue-select.scss";

.quickview-left-border {
  border-left: 1px hsl(0, 0%, 86%) solid !important;
}

.wider {
  width: 725px !important;
}

.narrow {
  width: 350px !important;
}